<h1 mat-dialog-title>Edit Password</h1>

<form [formGroup]="form" (ngSubmit)='onSubmit()'>
    <mat-form-field>
        <input matInput placeholder='Website' formControlName='website'>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder='Email' formControlName='email'>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder='Password' type='password' formControlName='password'>
    </mat-form-field>

    <div mat-dialog-actions>
        <button (click)='close()' mat-raised-button color='warn'>Cancel</button>
        <button [disabled]='form.invalid' type='submit' mat-raised-button color='primary'>Update</button>
    </div>
</form>