.entry-form {
  display: flex;
  justify-content: center;
  margin: -2.5rem 0 3rem 0;
}

.entry-form form {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2rem;
  border-radius: .25rem;
  background-color: #f2f3f4;
}

.danger-text {
  color: #f44336;
}