<div class="table-area">
  <table *ngIf='passwords.length' class="mat-elevation-z8">
    <thead>
      <th>Website</th>
      <th>Email</th>
      <th>Password</th>
      <th>Actions</th>
    </thead>
    
    <tbody>
      <tr *ngFor='let password of passwords; let i = index'>
        <td><a href="{{password.website}}" target="_blank">{{password.website}}</a></td>
        <td>{{password.email}}</td>
        <td>{{password.visible ? password.password : '* * * * * * * *'}}</td>
        <td>
          <button (click)='toggleVisible(i)' matTooltip='{{password.visible ? "Hide Password" : "Show Password"}}' matTooltipPosition='above' mat-icon-button color="primary">
            <mat-icon>{{password.visible ? 'visibility' : 'visibility_off'}}</mat-icon>
          </button>
          
          <button (click)='refreshPassword(i)' matTooltip='Generate New Password' matTooltipPosition='above' mat-icon-button color="primary">
            <mat-icon>refresh</mat-icon>
          </button>
          
          <button (click)='onEditClick(i)' matTooltip='Edit Password' matTooltipPosition='above' mat-icon-button color="primary">
            <mat-icon>edit</mat-icon>
          </button>
    
          <button (click)='deletePassword(i)' matTooltip='Delete Password' matTooltipPosition='above' mat-icon-button color="primary">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>  
</div>